---
import Layout from "../layouts/Layout.astro";
---

<Layout lang="de">
  <section class="container py-10 legal">
    <h1>Impressum</h1>
    <p>
      <strong>Kurt Kühnert</strong><br/>
      Bahnhofstraße 13<br/>
      08118 Hartenstein<br/>
      Deutschland
    </p>
    <p>
      <strong>Kontakt:</strong><br/>
      E-Mail: <a class="link" href="mailto:kurt@kuehnert.dev">kurt@kuehnert.dev</a><br/>
      Telefon: <a class="link" href="tel:+49-172-7639811">+49 172 7639811</a>
    </p>
  </section>
</Layout>
