---
import Layout from "../layouts/Layout.astro";
---

<Layout lang="en">
  <meta http-equiv="refresh" content="0; url=/en" />
  <p class="container py-8">Redirecting to <a class="link" href="/en">/en</a>…</p>
</Layout>

